@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
    background-color: #c30010;
    border-radius: 6px;
    clip-path: polygon(52% 0, 100% 0%, 100% 100%, 43% 100%);
}

.btn {
    @apply bg-black text-white px-3 py-2 rounded hover:bg-white hover:text-black transition-all duration-500;
}

@media screen and (max-width: 576px) {
    .banner {
        clip-path: none;
    }
}